<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url('anton-murygin-jD7WYFNJ-0s-unsplash.jpg'); /* Specify the URL of your background image */
            background-size: cover;
            background-position: center;
            height: 100vh; /* Ensure the background covers the entire viewport height */
            margin: 0; /* Remove default body margin */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            background-color: rgba(0, 0, 0, 0.6); /* Change background color to black with 60% opacity */
            color: white; /* Set text color to white */
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Signup YourSelf Here!!</h1>
        <form action="signup" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
</body>
</html>
